<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Подключения -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="./UserData.css" />

    <title>My resume</title>
</head>

<body>

    <div class="container-fluid ">
        <!-- First container -->
        <div class="divData col-md-6">
            <div>
                <form action="/">
                    <!-- -------ОСНОВНАЯ ИНФО----------- -->
                    <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">
                            <h3>Основная информация</h3>
                        </legend>
                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_userPosition">Желаемая должность:</label>
                                <input id="id_userPosition" type="text" class="form-control"
                                    placeholder="Введите должность">
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_lastName">Фамилия:</label>
                                <input id="id_lastName" type="text" class="form-control" placeholder="Введите фамилию">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="userPhoto">
                                    <label>
                                        <img class="avatar" src="../../images/dance2.jpg"
                                            alt="Нажмите для выбора файла">
                                        <input type="file" id="id_imgUpl" name="id_imgUpl" hidden />
                                    </label>
                                    <!-- <label>
                                        <img class="avatar" src="../../images/dance2.jpg" alt="Нажмите для выбора файла"/>
                                        <input type="file" id="imgup" class="form-control" name="fupload" hidden />
                                    </label> -->
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_firstName">Имя:</label>
                                <input type="text" class="form-control" id="id_firstName" placeholder="Введите имя" />
                                <label for="id_middleName">Отчество:</label>
                                <input type="text" class="form-control" id="id_middleName"
                                    placeholder="Введите отчество" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_birthOfDate">Дата рождения:</label>
                                <input type="date" class="form-control" id="id_birthOfDate" />
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_cityOfResidence">Город проживания:</label>
                                <input type="text" class="form-control" id="id_cityOfResidence"
                                    placeholder="Введите город" />
                            </div>
                        </div>
                    </fieldset>

                    <!-- -------КОНТАКТЫ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Контакты</h3>
                        </legend>

                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_phone">Телефон:</label>
                                <input type="text" class="form-control" id="id_phone" placeholder="+380661234567">
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_lastName">Электронная почта:</label>
                                <input type="email" class="form-control" id="id_lastName"
                                    placeholder="address@site.com">
                            </div>
                        </div>
                    </fieldset>

                    <!-- -------ЛИЧНАЯ ИНФО----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Личная информация</h3>
                        </legend>
                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_nationality">Национальность:</label>
                                <input type="text" class="form-control" id="id_nationality"
                                    placeholder="Введите национальность" />
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_desiredSalary">Желаемая зарплата:</label>

                                <div class="input-group mb-2">
                                    <input type="number" class="form-control" id="id_desiredSalary" placeholder="0"
                                        step="1" min="0" />
                                    <div class="input-group-append">
                                        <select class="form-control" id="id_currency">
                                            <option>₴ - гривна</option>
                                            <option>$ - доллар</option>
                                            <option>€ - евро</option>
                                            <option>₽ - рубль</option>
                                            <option>£ - фунты</option>
                                            <option>¥ - юань</option>
                                            <option>другая валюта</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_employment">Занятось:</label>
                                <select class="form-control" id="id_employment" placeholder="выбрать">
                                    <option>Полная занятость</option>
                                    <option>Частичная занятость</option>
                                    <option>Проектная работа</option>
                                    <option>Волонтерство</option>
                                    <option>Стажировка</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_schedule">График работы:</label>
                                <select class="form-control" id="id_schedule">
                                    <option>Полный день</option>
                                    <option>Сменный график</option>
                                    <option>Гибкий график</option>
                                    <option>Удаленная работа</option>
                                    <option>Вахтовый метод</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_businessTrip" class="custom-control-input">
                                    <label class="custom-control-label" for="id_businessTrip">Командировки</label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_relocate" class="custom-control-input">
                                    <label class="custom-control-label" for="id_relocate">Готовность на переезд</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_maritalStatus">Семейное положение:</label>
                                <select class="form-control" id="id_maritalStatus">
                                    <option>Замужем</option>
                                    <option>Не замужем</option>
                                    <option>Женат</option>
                                    <option>Не женат</option>
                                </select>
                                <div
                                    class="custom-control custom-checkbox custom-control-inline ccb-right childrenCheckBox">
                                    <input type="checkbox" id="id_children" class="custom-control-input">
                                    <label class="custom-control-label" for="id_children">Дети</label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_education">Основное образование:</label>
                                <select class="form-control" id="id_education">
                                    <option>Общее среднее образование</option>
                                    <option>Профессионально-техническое образование</option>
                                    <option>Высшее образования</option>
                                    <option>Аспирантура</option>
                                    <option>Докторантура</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <!-- -------ВЛАДЕНИЕ ЯЗЫКАМИ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Владение языками</h3>
                        </legend>

                        <details id="langDetails">
                            <summary>Язык</summary>
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_langName">Язык:</label>
                                    <input type="text" class="form-control" id="id_langName"
                                        placeholder="Введите язык" />
                                </div>
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_level">Уровень владения:</label>
                                    <select class="form-control" id="id_level">
                                        <option disabled>Выберите уровень</option>
                                        <option selected></option>
                                        <option>A1 - начальный</option>
                                        <option>A2 - базовый</option>
                                        <option>B1 - средний</option>
                                        <option>B2 - выше среднего</option>
                                        <option>C1 - продвинутый</option>
                                        <option>C2 - профессиональный</option>
                                    </select>
                                </div>
                            </div>
                        </details>

                        <div id="langList">
                        </div>
                        <a href="javascript:AddLang()">Добавить</a>

                    </fieldset>

                    <!-- -------ОБРАЗОВАНИЕ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Образование</h3>
                        </legend>

                        <details id="educationDatails">
                            <summary>Mесто учебы</summary>
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_institutName">Наименование учебного заведения:</label>
                                    <input type="text" class="form-control" id="id_institutName"
                                        placeholder="Введите наименование учебного заведения" />
                                </div>
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_levelEducation">Уровень образование:</label>
                                    <select class="form-control" id="id_levelEducation">
                                        <option disabled>Выберите уровень</option>
                                        <option selected></option>
                                        <option>Высшее</option>
                                        <option>Бакалавр</option>
                                        <option>Магистр</option>
                                        <option>Специалист</option>
                                        <option>Кандидат наук</option>
                                        <option>Доктор наук</option>
                                        <option>Неполное высшее</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_faculty">Факультет:</label>
                                    <input type="text" class="form-control" id="id_faculty"
                                        placeholder="Введите факультет" />
                                </div>
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_specialty">Специальность:</label>
                                    <input type="text" class="form-control" id="id_specialty"
                                        placeholder="Введите специальность" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_ending">Год окончания:</label>
                                    <input type="date" class="form-control" id="id_ending" />
                                </div>
                            </div>
                        </details>

                        <div id="educationList">
                        </div>
                        <a href="javascript:AddScheduler()">Добавить</a>
                    </fieldset>

                    <!-- -------КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Курсы повышения квалификации</h3>
                        </legend>

                        <details id="courseDetails">
                            <summary>Курс</summary>

                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_courseName">Название курса:</label>
                                    <input type="text" class="form-control" id="id_courseName"
                                        placeholder="Название курса" />
                                </div>
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_organization">Проводившая организация:</label>
                                    <input type="text" class="form-control" id="id_organization"
                                        placeholder="Проводившая организация" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_endingCourse">Год окончания:</label>
                                    <input type="date" class="form-control" id="id_endingCourse" />
                                </div>
                            </div>
                        </details>

                        <div id="courseList">
                        </div>
                        <a href="javascript:AddCourse()">Добавить</a>
                    </fieldset>

                    <!-- -------ОПЫТ РАБОТЫ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Опыт работы</h3>
                        </legend>

                        <details id="experienceDetails">
                            <summary>Mесто работы</summary>

                            <div class="row">
                                <div class="form-group col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="id_startWork_1">Начало работы:</label>
                                    <input type="date" class="form-control" id="id_startWork_1" />
                                </div>
                                <div class="form-group col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="id_endWork_1">Конец работы:</label>
                                    <input type="date" class="form-control" id="id_endWork_1" />
                                </div>
                                <div class="form-group col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                        <input type="checkbox" id="id_stillWorking_1" class="custom-control-input">
                                        <label class="custom-control-label" for="id_stillWorking_1">Еще работаю</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_positionWork_1">Должность:</label>
                                    <input type="text" class="form-control" id="id_positionWork_1"
                                        placeholder="Должность" />
                                </div>
                                <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="id_companyName_1">Название компании:</label>
                                    <input type="text" class="form-control" id="id_companyName_1"
                                        placeholder="Название компании" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="id_jobDuties_1">Обязанности:</label>
                                    <textarea class="form-control" id="id_jobDuties_1"></textarea>
                                </div>
                            </div>

                        </details>

                        <div id="experienceList">
                        </div>
                        <a href="javascript:AddExperience()">Добавить</a>

                    </fieldset>
                    <!-- -------РЕКОМЕНДАЦИИ----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Рекомендации</h3>
                        </legend>

                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_personRecommending">ФИО рекомендующего:</label>
                                <input type="text" class="form-control" id="id_personRecommending"
                                    placeholder="ФИО рекомендующего" />
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_company">Компания, должность:</label>
                                <input type="text" class="form-control" id="id_company"
                                    placeholder="Компания, должность" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_emailCompany">Электронная почта:</label>
                                <input type="email" class="form-control" id="id_emailCompany"
                                    placeholder="address@site.com">
                            </div>
                            <div class="form-group col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="id_phoneCompany">Телефон:</label>
                                <input type="text" class="form-control" id="id_phoneCompany"
                                    placeholder="+380661234567" />
                            </div>
                        </div>
                    </fieldset>

                    <!-- -------ДОПОЛНИТЕЛЬНАЯ ИНФО----------- -->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <h3>Дополнительная информация</h3>
                        </legend>

                        <div class="row">
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="id_driverLicense">Права категории:</label>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">A1</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">A</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">B1</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">B</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">C1</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">C</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">D1</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">D</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_driverLicense" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_driverLicense">T</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_privatCar" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_privatCar">Есть личный
                                        автомобиль</label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="custom-control custom-checkbox custom-control-inline ccb-right">
                                    <input type="checkbox" id="id_army" class="custom-control-input" />
                                    <label class="custom-control-label" for="id_army">Служба в армии</label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="id_hobby">Хобби:</label>
                                <textarea class="form-control" id="id_hobby"></textarea>
                            </div>
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="id_personalQualities">Личные качества:</label>
                                <textarea class="form-control" id="id_personalQualities"></textarea>
                            </div>
                            <div class="form-group col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="id_professionalSkills">Профессиональные навыки:</label>
                                <textarea class="form-control" id="id_professionalSkills"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary " id="sbmResume">Отправить</button>
                </form>

            </div>

        </div>

    </div> <!-- First container -->

    <!-- Second container -->
    <div>

    </div><!-- Second container -->
    </div>

</body>

<script>
    function AddLang() {
        var langList = document.getElementById("langList");
        var langDetails = document.getElementById('langDetails').outerHTML;
        console.log(langDetails);
        langList.insertAdjacentHTML("beforeend", langDetails);
    }
    function AddScheduler() {
        var educationList = document.getElementById("educationList");
        var educationDatails = document.getElementById('educationDatails').outerHTML;
        console.log(educationDatails);
        educationList.insertAdjacentHTML("beforeend", educationDatails);
    }
    function AddCourse() {
        var courseList = document.getElementById("courseList");
        var courseDetails = document.getElementById('courseDetails').outerHTML;
        console.log(courseDetails);
        courseList.insertAdjacentHTML("beforeend", courseDetails);
    }
    function AddExperience() {
        var experienceList = document.getElementById("experienceList");
        var experienceDetails = document.getElementById('experienceDetails').outerHTML;
        console.log(experienceDetails);
        experienceList.insertAdjacentHTML("beforeend", experienceDetails);
    }
</script>

</html>