/* div{
    border: 1px solid black;
} */

.spin{    
    margin-top: 20vw;
}

#container-main{
    background-color: #F8F8FA;
}

#first-container{
    margin-top: 20px;
    padding-top: 30px;
}

#photoResume{
    width: 300px;
}

.header-title{
    font-size: 22px;
    font-weight: bold;
}

#second-container,
#fourth-container,
#sixth-container{
    margin: 70px 0 20px 0;
}

.img-tips{
    margin: 20px 0px 10px 120px;
    width: 60px;    
}

.header-tips{    
    font-size: 18px;
    font-weight: bold;
}

.text-tips{
    font-size: 14px;
}

.img-template{
    width: 380px;
    padding: 10px;
}