.spin {
  margin-top: 20vw;
}

.btn-color {
  background-color: #0e1c36;
  color: #fff;
}
.btn-color:hover {
  
  background-color: #0e1c36;
  color: #FFE051;
}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #ebf2fa;
}

a {
  text-decoration: none;
}

#regUser{
  padding-top: 30px;
  margin-top: 50px;
}