/* * {
  border: 1px solid red !important;
} */

#mainApp{  
  padding: 0px;  
  /* background-color: bisque;  */
     
}

#navbar-collapse{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.links-nav{
  margin-right: 100px;
}

.nav-item{
  font-size: 20px;    
}

.navbar{
  padding: 0px;
  background-color: rgb(255, 255, 255);
  /* фиксирует меню */
  position: relative;   
  display: flex;   
  /* border: 1px solid black; */
}

li{
  margin: 1px 15px;
}

a{
  color: rgb(0, 0, 0);
  height: 100%;
  padding: 0 auto;
}

.exit-btn{
  height: auto;
  /* align-items: center; */
}

#logo-photo{
  height: 40px; 
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#conteiner-component{
  padding: 0px;
}

footer {
  
}