

.name-text-t3 {
    word-wrap: break-word;
    font-size: 46px;
    padding: 0px 5px 0 0;
    margin: 0px;
    font-weight: 700;
<<<<<<< HEAD
=======
    -webkit-print-color-adjust: exact;
>>>>>>> 0918056963aaf72b528281e019af0dcb74250afc
}

.icon-item-t3{
    width: 15px;
    height: 15px;
    margin: 6px 5px 3px 20px;
<<<<<<< HEAD
=======
    -webkit-print-color-adjust: exact;
>>>>>>> 0918056963aaf72b528281e019af0dcb74250afc
}

.user-info-t3{
    margin: 20px 0 0 0px;
<<<<<<< HEAD
=======
    -webkit-print-color-adjust: exact;
>>>>>>> 0918056963aaf72b528281e019af0dcb74250afc
}