#left-container-t1 {
    background-color: #edd9b4;
    min-width: min-content;
    -webkit-print-color-adjust: exact;
}

.box-t1 {
    display: inline-block;
    width: 100%;
    background-color: #fdf5e5;
    border-color: #e9ecef !important;
    -webkit-print-color-adjust: exact;
}