#left-container-t6 {
    background-color: #fff;    
    min-width: min-content;
    -webkit-print-color-adjust: exact;
}

#right-container-t6{
    background-color: #EFEFEF;
}

.box-t6 {
    display: inline-block;
    width: 100%;
    background-color: #EFEFEF;    
    border-color: #e9ecef !important;
    -webkit-print-color-adjust: exact;
}

.mark-t6{
    background-color: #c9dcbb;
    -webkit-print-color-adjust: exact;
}

.tttt{
    background-color: #395B74;
    color: #EBF1F2;
}