#left-container-t4 {
    background-color: #e0f5d0;
    min-width: min-content;
    -webkit-print-color-adjust: exact;
    padding-top: 20px;
}

.box-t4 {
    display: inline-block;
    width: 100%;
    background-color: #effae7;
    border-color: #e9ecef !important;
    -webkit-print-color-adjust: exact;
}

.mark-t4 {
    margin-top: 0px;
    background-color: #c9dcbb;
    -webkit-print-color-adjust: exact;
}

